<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="main.css" />
  <title>CS 253 Wiki</title>
</head>

<body>
  <div class="login-area">
    (<a class="login-link" href="/_edit{{name}}">edit</a>)
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

